:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(0, 0, 0, 0.623);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido:45px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'open sans';
    background: var(--fondo);
  }
  
  img{
    vertical-align: top;
  }
  
  /* Header */
  
  header{
    width: 100%;
    height:600px;
    background: linear-gradient(to bottom,
    rgba(54, 54, 54, 0.6),
    rgba(110, 110, 110, 0.6),
    rgba(0, 0, 0, 0.45)
    ), url(../media/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  nav{
    width: 100%;
    position: fixed;
    background-color: rgb(156, 137, 137);
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    height:inherit;
    overflow: hidden;
  }
  
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{ height:80px;}
  
  .icono{
    display:none;
    font-size: 24px;
    padding: 23.5px 20px;
  }
  
  .textos{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#fff;
    overflow: hidden;
    text-align: center;
  }
  
  .textos>h1{font-size:80px;;}
  
  .textos>h2{font-size: 30px; font-weight: 300;}
  
  /* Main */
  
  .contenedor{
    margin:auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
  }
  
  .contenedor h3{
    font-size: var(--titulos);
    color: var(--color3);
    margin-bottom: var(--espacios);
  }
  
  .contenedor p{
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
  }
  
  .after::after{
    content:'';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
  }
  
  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .content-card{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height:400px;
  }
  
  .top-3{
    height: 80%;
  }
  
  .content-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .texto-top3{
    height: 20%;
    width: 100%;
    padding: var(--espacios) 0;
  }
  
  .about{
    background: url(../media/destacados.jpg);
    height: auto;
  }
  
  .servicios{
    display: flex;
    color:#fff;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
  }
  .caja-servicios{
    width: 30%;
    margin: 0;
    text-align: center;
  }
  .caja-servicios>h4{
    margin-bottom: var(--espacios);
  }
  
  .caja-servicios>p{
    text-align: center;
  }
  
  .botones-cursos{
    overflow: hidden;
  }
  
  .botones-cursos li{
    display: inline-block;
    text-align: center;
    margin-left: var(--espacios);
    margin-bottom: var(--espacios-contenido);
    padding: 6px 12px;
    border: 1px solid var(--color1);
    list-style: none;
    color: var(--color1);
  }
  
  .botones-cursos li:hover{
    background: var(--color1);
    color:#fff;
    /* cursor: pointer; */
  }
  
  .botones-cursos .active{
    background: var(--color1);
    color:#fff;
  }
  
  .galeria-cursos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cont-curso{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    height:300px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
  }
  
  .img-curso{
    height: 90%;
    width: 100%;
  }
  
  .img-curso img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .textos-curso{
    height: 10%;
  }
  
  .textos-curso h4{
    line-height: 30px;
    font-weight: 300;
  }
  
  /* Footer */
  
  footer{background:url(../media/destacados.jpg);}
  
  .marca-logo{
      padding-top:20px;
    width: 20%;
    margin: auto;
    margin-bottom: var(--espacios);
  }
  .marca-logo img{
    width: 100%;
  }
  .iconos{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 50%;
  }
  
  footer p{
    margin-top:var(--espacios);
  }
  
  /* responsive */

  @media screen and (max-width: 700px){
    .icono{
      display:block;
      cursor: pointer;
    }
  
    .enlaces{
      position: fixed;
      top:80px;
      left: 0;
      height: 100%;
      transition: 1s;
      width: 0;
      overflow: hidden;
    }
  
    .enlaces a{
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: center;
      background: #a5958d;
      color:#fff;
    }
  
    .textos>h1{font-size: 70px;}
    .textos>h2{font-size:35px;}
  
    .content-card{
      width: 48%;
      margin-bottom:var(--margenes);
    }
  
    :root{
      --margenes: 30px;
    }
  }
  
  @media screen and (max-width: 500px){
    :root{
      --espacios-contenido: 25px;
    }
  
    .content-card{
      width: 90%;
    }
  
    .caja-servicios{
      width: 90%;
      margin-bottom: var(--margenes);
    }
  
    .cont-curso{
      width: 85%;
    }
  
    .marca-logo{
      width: 80%;
    }
  
    .iconos{
      margin: auto;
    }
  }